<p>feature moudle in angular</p>

<div style="text-align:center">
  <p>Lazy loading in Angular</p>
  <app-notification-board></app-notification-board>
  <ul class="nav">
    <li class="nav-item">
      <a href="nav-link" routerLink="/">Home</a> &nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a href="nav-link" routerLink="/about">About</a>&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a href="nav-link" routerLink="/contact">Contact</a>&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a href="nav-link" routerLink="/product">Product</a>&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a href="nav-link" routerLink="/rxjs">rxjs</a>&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a href="nav-link" routerLink="/ViewChild">ViewChild</a>&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a href="nav-link" routerLink="/tdf">TDF</a>&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a href="nav-link" routerLink="/hooks">Hooks</a>&nbsp;&nbsp;
    </li>

  </ul>

<router-outlet></router-outlet>

</div>