<p>product-dashboard works!</p>

<div class="row">
    <div class="col-md-6">
        <app-product-widget [products]="salesProducts">
            <h1 class="header" #head>Up to 70% off on electronics</h1>
            <p class="header" #head>Offer valid only today</p>
            <a href="" class="link">Vist Store</a>
        </app-product-widget>
    </div>

    <div class="col-md-6">
        <app-product-widget [products]="topProducts">
            <h1 class="header">top products</h1>
            <a href="" class="link">See More</a>
        </app-product-widget>
    </div>
</div>
